<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<!--<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="input.bootstrap.php"
         convertErrorsToExceptions="false"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="false"
         processIsolation="true"
         
>-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         backupGlobals="true"
	 backupStaticAttributes = "true"
         colors="true"
         bootstrap="input.bootstrap.php"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
	 stopOnFailure= "true"
	 syntaxCheck= "false"
         
>
    
     <php>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>
    </php>
<!--    <php>
        <ini name="error_reporting" value="-1" />
        
            <server name="KERNEL_DIR" value="/path/to/your/app/" />
        
    </php>-->

    <testsuites>
       <testsuite name="Project Test Suite">
           <directory>../src/*/*Bundle/Tests</directory>
           <directory>../src/*/Bundle/*Bundle/Tests</directory>
           <directory>../src/*Bundle/Tests</directory>
       </testsuite>
   </testsuites> 
    
<!--     <php>
        <server name="KERNEL_DIR" value="../app/" />
    </php>
     -->
    <logging>
        <log type="junit" target="../web/uploads/junit.xml" logIncompleteSkipped="false"/>
    </logging>    
   
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="false">
            <directory>../src</directory>
            <exclude>
                <directory>../src/*Bundle/Resources</directory>
                <directory>../src/*Bundle/Tests</directory>
                <directory>../src/*/*Bundle/Resources</directory>
                <directory>../src/*/*Bundle/Tests</directory>
                <directory>../src/*/Bundle/*Bundle/Resources</directory>
                <directory>../src/*/Bundle/*Bundle/Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
