{% include 'uploadBundle:Default:header.html.twig' %}
  <title>{% block title %} Symfony Heroku Demo| Sign Up!{% endblock %}</title>
{% block body %}
    <style>
         .previous {
                background: #2aad89;
               padding: 8px 20px 8px 20px;
               border-radius: 5px;
               -webkit-border-radius: 5px;
               -moz-border-radius: 5px;
               color: #fff;
               text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
               font: normal 30px 'Bitter', serif;
               -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
               -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
               box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
               border: 1px solid #257C9E;
               font-size: 15px;
        }
     </style>   
    <script type="text/javascript">
        function validateForm() {

            //alert($('input[type="file"]').val());
            var fName = $("#first_name").val();
            var lName = $("#last_name").val();
            var address = $("#address").val();
            var addresstwo = $("#addresstwo").val();
            var email = $("#email").val();
            var filechk = document.getElementById("fileinfo").files.length;

            var phone = $("#phone").val();
            var atpos = email.indexOf("@");
            var dotpos = email.lastIndexOf(".");
            if (fName == "") {
                alert("Please enter the First Name");
                return false;
            }
            if (lName == "") {
                alert("Please enter the Last Name");
                return false;
            }
            if (address == "") {
                alert("Please enter the address");
                return false;
            }
            if (addresstwo == "") {
                alert("Please enter the address");
                return false;
            }
            if (filechk == 0) {
                alert("Please select file");
                return false;
            }
            if (phone == "") {
                alert("Please enter the Phone Number");
                return false;
            }
            if (isNaN(phone)) {
                alert("Must input numbers");
                return false;
            }
            if (atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= x.length) {
                alert("Not a valid e-mail address");
                return false;
            }

        }

        function AlertFilesize(cid, sz, a) {

            var controllerID = cid;
            var fileSize = sz;
            var extation = a;
            if (window.ActiveXObject) {
                var fso = new ActiveXObject("Scripting.FileSystemObject");
                var filepath = document.getElementById('fileinfo').value;
                var thefile = fso.getFile(filepath);
                var sizeinbytes = thefile.size;
            } else {
                var sizeinbytes = document.getElementById('fileinfo').files[0].size;
            }
            var fSExt = new Array('Bytes', 'KB', 'MB', 'GB');
            fSize = sizeinbytes;
            i = 0;
            while (fSize > 900) {
                fSize /= 1024;
                i++;
            }
            var fup = document.getElementById('fileinfo');
            var fileName = fup.value;
            var ext = fileName.substring(fileName.lastIndexOf('.') + 1);

            if (ext == "gif" || ext == "GIF" || ext == "JPEG" || ext == "jpeg" || ext == "jpg" || ext == "JPG" || ext == "png" || ext == "PNG")
            {
                var fs = Math.round(fSize);
                if (fs < fileSize && fSExt[i] == extation)
                {
                    //alert("Image Successfully Uploaded");
                    return true;
                } else {
                    alert("Please enter the image size less then" + fileSize + extation);
                    document.getElementById('fileinfo').value = '';
                    return false;
                }
            } else {
                alert("Must be jpg and gif images ONLY");
                document.getElementById('fileinfo').value = '';
                return false;
            }
        }
    </script>
    <div class="form-style-10">
        <h1>Sign Up Now!<span></span></h1>
        <form id="addBook" method="post" class="form" name="add" role="form" enctype="multipart/form-data" onsubmit="return validateForm()" >

            <div class="inner-wrap">
                <label>First Name <input type="text" class=""  id="first_name" name="first_name"></label>
                <label>Last Name <input type="text" class=""  id="last_name" name="last_name"></label>
                <label>Address One <input type="text" class=""  id="address" name="address"></label>
                <label>Address  Two<input type="text" class=""  id="addresstwo" name="addresstwo"></label>
                <label>Email <input type="text" class=""  id="email" name="email"> </label>
                <label>Upload File <input type="file" class=""  id="fileinfo" name="file" onchange="AlertFilesize(this.id, 100, 'KB');" ></label>
                <label>Phone  <input type="text" class=""  id="phone" name="phone"></label>

            </div>
            <div class="button-section">
               <a href="{{path('upload_view')}}" class="previous">Go To View Page</a> <input type="submit" name="Sign Up" />
            </div>
        </form>
    </div>

{% endblock %}
{% include 'uploadBundle:Default:footer.html.twig' %}
