<form id="addBook" method="post" class="form" role="form" enctype="multipart/form-data">
<table>
<tr><td>First Name<td> <td> <input type="text" class=""  id="first_name" name="first_name"><td></tr>
<tr><td>Last Name<td> <td> <input type="text" class=""  id="first_name" name="last_name"><td></tr>
<tr><td>Address<td> <td> <input type="text" class=""  id="address" name="address"><td></tr>
<tr><td>Email Name<td> <td> <input type="text" class=""  id="email" name="email"><td></tr>
<tr><td>Upload File<td> <td> <input type="file" class=""  id="email" name="file"><td></tr>
<tr><td>Phone<td> <td> <input type="text" class=""  id="phone" name="phone"><td></tr>
</table>
</form>
